<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.418</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <jdks>
    <jdk>
      <name>JDK 1.6.0_24</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u24-oth-JPR@CDS-CDS_Developer</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.sectioned__view.SectionedView>
      <owner class="hudson" reference="../../.."/>
      <name>ServerRebuilds</name>
      <description>This section shows all the stuff related keep servers (Fitnesse, Rexster) up to date.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <sections>
        <hudson.plugins.sectioned__view.ViewListingSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </jobNames>
          <jobFilters/>
          <name></name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
          <views>
            <string>All</string>
            <string>ServerRebuilds</string>
          </views>
          <columns>1</columns>
        </hudson.plugins.sectioned__view.ViewListingSection>
        <hudson.plugins.sectioned__view.JobGraphsSection>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.sectioned__view.ViewListingSection/jobNames/comparator"/>
            <string>BuildRESTFixture</string>
            <string>BuildRexster</string>
            <string>StartFitnesse</string>
            <string>StartRexster</string>
          </jobNames>
          <jobFilters/>
          <name>How the jobs did</name>
          <width>FULL</width>
          <alignment>CENTER</alignment>
        </hudson.plugins.sectioned__view.JobGraphsSection>
      </sections>
    </hudson.plugins.sectioned__view.SectionedView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>8</int>
          <string>0_MAVEN_OFFLINE_SWITCH</string>
          <string></string>
          <string>CONFIG_FILES_SCM_WORKSPACE</string>
          <string>../../ConfigFilesSCM/workspace</string>
          <string>FITNESSE_ROOT</string>
          <string>../../StartFitnesse/workspace/FitNesseRoot</string>
          <string>KILL_REXSTER_JOB_WORKSPACE</string>
          <string>../../KillRexster/workspace</string>
          <string>M2_REPO</string>
          <string>../../../.m2/repository</string>
          <string>REXSTER_HOME</string>
          <string>../../BuildRexster/workspace/</string>
          <string>SAMPLE_KIBBLES_TARGETSPACE</string>
          <string>../../BuildKibbles/workspace/sample-kibbles/target/</string>
          <string>START_REXSTER_WORKSPACE</string>
          <string>../../StartRexster/workspace/</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>