<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This package acquires, builds and installs the Monetary Ontology Walkabout extension for Rexster.&lt;br/&gt;&#xd;
(Still needs a lot of work)</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/martinhbramwell/Monetary-Ontology-Walkabout.git/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>git://github.com/martinhbramwell/Monetary-Ontology-Walkabout.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <scmName></scmName>
  </scm>
  <quietPeriod>10</quietPeriod>
  <scmCheckoutRetryCount>2</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>31 06  * * * 
31 14  * * * </spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${REXSTER_HOME}

( ./rexster.sh --stop )&amp;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>${0_MAVEN_OFFLINE_SWITCH} install package</targets>
      <mavenName>Maven 2.2.1</mavenName>
      <pom>rexster/extension/example/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>REXSTER_LIB=&quot;${REXSTER_HOME}/lib&quot;
REXSTER_SERVER=&quot;${REXSTER_HOME}/target/${REXSTER_PACKAGE}/&quot;
REXSTER_LIB=&quot;${REXSTER_SERVER}lib&quot;
REXSTER_EXT=&quot;${REXSTER_SERVER}ext&quot;
PROJ_ROOT=&quot;${WORKSPACE}/rexster/extension/example&quot;
# ls -l ${REXSTER_LIB}
# ls -l ${REXSTER_EXT}
touch ${PROJ_ROOT}/src/main/resources/config/myRexster.xml.unx
cp -fp ${PROJ_ROOT}/src/main/resources/config/myRexster.xml.unx ${REXSTER_HOME}/myRexster.xml

cp -fp ${M2_REPO}/commons-fileupload/commons-fileupload/1.2/commons-fileupload-1.2.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/com/hp/hpl/jena/jena/2.6.4/jena-2.6.4.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/com/hp/hpl/jena/iri/0.8/iri-0.8.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/com/ibm/icu/icu4j/3.4.4/icu4j-3.4.4.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/xerces/xercesImpl/2.7.1/xercesImpl-2.7.1.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/ch/qos/logback/logback-core/0.9.29/logback-core-0.9.29.jar ${REXSTER_LIB}
cp -fp ${M2_REPO}/ch/qos/logback/logback-classic/0.9.29/logback-classic-0.9.29.jar ${REXSTER_LIB}

rm -f ${REXSTER_LIB}/slf4*.*
cp -fp ${M2_REPO}/org/slf4j/slf4j-api/1.6.1/slf4j-api-1.6.1.jar ${REXSTER_LIB}

rm -f ${REXSTER_LIB}/groovy*.*
cp -fp ${M2_REPO}/org/codehaus/groovy/groovy/1.8.0/groovy-1.8.0.jar ${REXSTER_LIB}

cp -fp ${PROJ_ROOT}/target/mowa-study-0.1-SNAPSHOT.jar ${REXSTER_EXT}

rm -fr ${REXSTER_HOME}/data/mowa-graph



</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>${KILL_REXSTER_JOB_WORKSPACE}/WaitForRexsterToDie.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>StartRexsterForMOWa, Tinkerpop_Fitnesse, StartFitnesse</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>