<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will start the Rexster server as a *NIX Daemon.&lt;br/&gt;&#xd;
However, before starting it collects our customized  run-time configuration files.&lt;br/&gt;&lt;br/&gt;&#xd;
&#xd;
Check with :&lt;br/&gt;&#xd;
ps aux | grep rexster | grep -v grep | awk &apos;{print $2}&apos;&#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>10</quietPeriod>
  <scmCheckoutRetryCount>2</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>chmod +x ${START_REXSTER_WORKSPACE}/testLife.sh
${START_REXSTER_WORKSPACE}/testLife.sh
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>MOWaExtensionFitnesse</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.postbuildtask.PostbuildTask>
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>Rexster Down.</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>true</RunIfJobSuccessful>
          <script>cd ${REXSTER_HOME}&#xd;
mkdir -p ./data/archive&#xd;
mkdir -p ./data/tmp&#xd;
&#xd;
ls -la&#xd;
&#xd;
echo Disable background job termination&#xd;
BUILD_ID=allow_to_run_as_daemon&#xd;
&#xd;
( ./rexster.sh --start -c myRexster.xml ) &amp;</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
  </publishers>
  <buildWrappers/>
</project>